<launch>

	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="extra_gazebo_args" default=""/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="physics" default="ode"/>
	<arg name="verbose" default="true"/>
	<arg name="world" default="gazebo_ros_range"/>

	<!-- set use_sim_time flag -->
	<group if="$(arg use_sim_time)">
		<param name="/use_sim_time" value="true" />
	</group>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find mybot_gazebo)/worlds/mybot.world"/>
		<arg name="gui" value="true"/>
	</include>

	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
	<param name="robot_description" command="$(find xacro)/xacro '$(find mybot_description)/urdf/piro.xacro'" />
	<!-- Spawn piro3 -->
	<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -x 0.0 -y 0.0 -z 0.55 -model piro2" />
  <!-- Spawn Cable -->
	<node name="urdf_spawner_tower" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"	args="-sdf -model suspension_tower -x 0.0 -y -0.018 -z 1.0 -file $(find mybot_gazebo)/models/power_line/model.sdf"/>
	<!-- Spawn one obstacle -->
	<node name="urdf_obs_tower" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"	args="-sdf -model obs_tower -x -2.0 -y -0.02 -z 0.95 -file $(find mybot_gazebo)/models/obstacle_1/model.sdf"/>

	<!-- Spawn another obstacle -->
	<node name="urdf_obs_2_tower" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"	args="-sdf -model obs_2_tower -x 2.0 -y -0.018 -z 0.95 -file $(find mybot_gazebo)/models/obstacle_2/model.sdf"/>
  <!-- Call launch to allow joint control -->
	<include file="$(find mybot_control)/launch/piro_joint_control.launch" />
</launch>
