<?xml version="1.0"?>

<model>
  <name>Power Line</name>
  <version>0.1</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Pedro Alcantara</name>
    <email>pxalcantara@gmail.com</email>
  </author>

  <description>
    Power line with some obstacles like clamps and dumpers
  </description>
</model>
