<robot name="elir_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"
xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

<xacro:property name="M_PI" value="3.141592" />

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/robot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
    </gazebo>
  <!-- Base link-->
  <gazebo reference="base_link">
    <dampingFactor>0.01</dampingFactor>
    <material name="grey"/>
    <self_collide>true</self_collide>
    </gazebo>
  <!-- Link1 -->
  <gazebo reference="link1_f">
    <dampingFactor>0.01</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="link1_t">
    <dampingFactor>0.01</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <!-- Tracao -->
  <gazebo reference="tracao_f">
    <dampingFactor>0.01</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="tracao_b">
    <dampingFactor>0.01</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <!-- Garras -->
  <gazebo reference="garra_ap">
    <dampingFactor>0.02</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="garra_tracao_f1">
    <dampingFactor>0.02</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="garra_tracao_f2">
    <dampingFactor>0.02</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="garra_tracao_b1">
    <dampingFactor>0.02</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <gazebo reference="garra_tracao_b2">
    <dampingFactor>0.02</dampingFactor>
    <material name="grey"/>
    </gazebo>
  <!-- Eixos -->
  <gazebo reference="eixo_tracao_ap">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <material name="black"/>
    </gazebo>
  <gazebo reference="eixo_tracao_f1">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <material name="black"/>
    </gazebo>
  <gazebo reference="eixo_tracao_f2">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <material name="black"/>
    </gazebo>
  <gazebo reference="eixo_tracao_b1">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <material name="black"/>
    </gazebo>
  <gazebo reference="eixo_tracao_b2">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <material name="black"/>
    </gazebo>

<gazebo reference="zed_left_camera">
    <sensor type="camera" name="zed_left_camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>detection/zed_left_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

<gazebo reference="zed_right_camera">
    <sensor type="camera" name="zed_right_camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>detection/zed_right_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
 
 <xacro:macro name="ir_camera" params="name ros_topic update_rate height width">
    <gazebo reference="${name}">
      <sensor type="camera" name="thermal_camera_sensor">
        <update_rate>30</update_rate>
        
        <camera>
          <horizontal_fov>${51*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>${width}</width>
            <height>${height}</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>300</far>
          </clip>
        </camera>
        
        <plugin name="thermal_camera_controller" filename="libgazebo_ros_thermal_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <imageTopicName>/${ros_topic}/image_raw</imageTopicName>
          <cameraInfoTopicName>/${ros_topic}/camera_info</cameraInfoTopicName>
          <frameName>${name}_optical_frame</frameName>
        </plugin>
      </sensor>
    </gazebo>
</xacro:macro>

  <xacro:macro name="sonar_sensor" params="name ros_topic update_rate min_range max_range field_of_view ray_count">
    <gazebo reference="${name}">
      <sensor type="ray" name="${name}">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>-${field_of_view/2}</min_angle>
              <max_angle> ${field_of_view/2}</max_angle>
            </horizontal>
            <vertical>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>-${field_of_view/2}</min_angle>
              <max_angle> ${field_of_view/2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="gazebo_ros_${name}_controller" filename="libhector_gazebo_ros_sonar.so">
          <gaussianNoise>0.005</gaussianNoise>
          <topicName>${ros_topic}</topicName>
          <frameId>${name}</frameId>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:sonar_sensor name="ground_sonar" ros_topic="perception/ground_sonar" update_rate="30" min_range="0.1" max_range="100" field_of_view="1.0471" ray_count="1" />
  <xacro:ir_camera name="flir_camera" ros_topic = "perception/flir_camera" update_rate = "8.6" height = "80" width = "60" />
</robot>
